<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stylesSub4.css">
    <script>
        
        function changeImageOnHover(element, hoverSrc, originalSrc) 
        {
        element.addEventListener('mouseover', function() {
            element.src = hoverSrc;
        });

        element.addEventListener('mouseout', function() {
            element.src = originalSrc;
        });
        }

        document.addEventListener('DOMContentLoaded', function() 
        {
            var images = [
                { id: 'image1', hoverSrc: 'imgs/linkjuju_2.jpg', originalSrc: 'imgs/linkjuju.jpg' },
                { id: 'image2', hoverSrc: 'imgs/linkjuju_2.jpg', originalSrc: 'imgs/linkjuju.jpg' },
                { id: 'image3', hoverSrc: 'imgs/linkjuju_2.jpg', originalSrc: 'imgs/linkjuju.jpg' },
                { id: 'image4', hoverSrc: 'imgs/linkjuju_2.jpg', originalSrc: 'imgs/linkjuju.jpg' }
            ];

            images.forEach(function(image) 
            {
                var imgElement = document.getElementById(image.id);
                changeImageOnHover(imgElement, image.hoverSrc, image.originalSrc);
            });
        });
    </script>
</head>
<body>
    <div style="width: 1920px; height: 2345px; position: relative; background: white">
      <a href="./webProjectMain.html">
        <div class="box">
            <div class="box-content"></div>
            <div class="name">차주원</div>
        </div>
    </div>
        <div class="menu-item menu-contact"><a href="./webProjectSub4.html">Contact</a></div>
        <div class="menu-item menu-picture"><a href="./webProjectSub3.html">사진첩</a></div>
        <div class="menu-item menu-growth"><a href="./webProjectSub2.html">성장일지</a></div>
        <div class="menu-item menu-intro"><a href="./webProjectSub1.html">주원이소개</a></div>
        <a href="./webProjectSub1.html">
            <img class="small-image small-image-1" src="imgs/linkjuju.jpg" alt="Small Image" id="image1">
        </a>
        <a href="./webProjectSub2.html">
            <img class="small-image small-image-2" src="imgs/linkjuju.jpg" alt="Small Image" id="image2">
        </a>
        <a href="./webProjectSub3.html">
            <img class="small-image small-image-3" src="imgs/linkjuju.jpg" alt="Small Image" id="image3">
        </a>
        <a href="./webProjectSub4.html">
            <img class="small-image small-image-4" src="imgs/linkjuju.jpg" alt="Small Image" id="image4">
        </a>
        <div style="width: 1920px; height: 27px; left: 0px; top: 746px; position: absolute; background: #E4DBF0"></div>
        <div style="width: 667px; height: 188px; left: -17px; top: 974px; position: absolute; text-align: center; color: #E4DBF0; font-size: 48px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
        <div style="width: 1100px; height: 350px; left: 410px; top: 1252px; position: absolute; background: #E4DBF0; border-radius: 30px"></div>
        <img style="width: 180px; height: 209px; left: 511px; top: 1358px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 30px" src="imgs/imgs2/300_5.jpg" />
        <div style="width: 1100px; height: 350px; left: 410px; top: 1753px; position: absolute; background: #E4DBF0; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 30px"></div>
        <a href="https://blog.naver.com/jidongdong_">
          <div style="width: 674px; height: 52px; left: 758px; top: 1427px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">https://blog.naver.com/jidongdong_</div>
         </a>
        <a href="https://www.instagram.com/chajuwony/">
          <div style="width: 726px; height: 77px; left: 758px; top: 1928px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">https://www.instagram.com/chajuwony/</div>
        </a> 
        <div style="width: 295px; height: 38px; left: 461px; top: 1292px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">주원 blog</div>
        <div style="width: 295px; height: 38px; left: 455px; top: 1803px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 400; word-wrap: break-word">주원 instagram </div>
        <img style="width: 180px; height: 176px; left: 511px; top: 1881px; position: absolute; border-radius: 30px" src="imgs/imgs2/240_1.jpg" />
      </div>
</body>
</html>