<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차주원 - Contact</title>
    <link rel="stylesheet" href="/css/stylesContact.css" th:href="@{/css/stylesContact.css}">
</head>
<body>
<div class="container">
    <div class="navbar">
        <a href="/home" class="logo">차주원</a>
        <nav>
            <a th:href="@{/home/intro}">소개</a>
            <a th:href="@{/home/growth-log}">성장일지</a>
            <a th:href="@{/home/photo-album}">사진첩</a>
            <a th:href="@{/home/contact}">Contact</a>
        </nav>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>

    <div class="text-center">
        <h2 class="highlight-text">Contact</h2>
        <p>주원이의 귀여운 일상과 더 많은 사진이 궁금하다면? 🐣</p>
    </div>

    <div class="contact-section">
        <div class="contact-card">
            <img src="/imgs/imgs2/300_5.jpg" alt="blog">
            <div>
                <p><strong>주원 blog</strong></p>
                <a href="https://blog.naver.com/jidongdong_" target="_blank">
                    blog.naver.com/jidongdong_
                </a>
            </div>
        </div>

        <div class="contact-card">
            <img src="/imgs/imgs2/240_1.jpg" alt="insta">
            <div>
                <p><strong>주원 instagram</strong></p>
                <a href="https://www.instagram.com/chajuwony/" target="_blank">
                    instagram.com/chajuwony
                </a>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a th:href="@{/home/intro}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image1"></a>
        <a th:href="@{/home/growth-log}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image2"></a>
        <a th:href="@{/home/photo-album}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image3"></a>
        <a th:href="@{/home/contact}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image4"></a>
    </div>
</div>
</body>
</html>
