<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차주원</title>
    <link rel="stylesheet" href="/css/stylesMain.css" th:href="@{/css/stylesMain.css}">
</head>
<body>
<div class="container">
    <div class="navbar">
        <a href="/home" class="logo">차주원</a>
        <nav>
            <a th:href="@{/home/intro}">소개</a>
            <a th:href="@{/home/growth-log}">성장일지</a>
            <a th:href="@{/home/photo-album}">사진첩</a>
            <a th:href="@{/home/contact}">Contact</a>
        </nav>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>

    <img class="main-image" src="/imgs/main_1.jpg" alt="Main Image" id="mainImage1">
    <div class="text-center text-main">
        <span class="highlight-text">my lovely baby<br/></span>
        <span>J U W O N<br/><br/>2024. 9. 9 pm2:43</span>
    </div>
    <a th:href="@{/home/intro}">
        <div class="button button-intro">주원이소개</div>
    </a>

    <img class="second-image" src="/imgs/main_4.jpg" alt="Second Image" id="mainImage2">
    <div class="text-center text-growth">
        <span class="highlight-text">since 230909<br/></span>
        <span>A Growth Journal</span>
    </div>
    <a th:href="@{/home/growth-log}">
        <div class="button button-growth">성장일지</div>
    </a>

    <img class="third-image" src="/imgs/main_7.jpg" alt="Third Image" id="mainImage3">
    <div class="text-center text-picture">
        <span class="highlight-text">say cheese~ 📸<br/><br/></span>
        <span>Juwon's picture</span>
    </div>

    <img class="fourth-image" src="/imgs/main_10.jpg" alt="Fourth Image" id="mainImage4">
    <a th:href="@{/home/photo-album}">
        <div class="button button-picture">사진첩</div>
    </a>
    <a th:href="@{/home/contact}">
        <div class="button button-contact">Contact</div>
    </a>

    <div class="text-center">
        <a th:href="@{/home/intro}"><img class="small-image" src="/imgs/linkjuju.jpg" id="image1" alt="Small Image"></a>
        <a th:href="@{/home/growth-log}"><img class="small-image" src="/imgs/linkjuju.jpg" id="image2" alt="Small Image"></a>
        <a th:href="@{/home/photo-album}"><img class="small-image" src="/imgs/linkjuju.jpg" id="image3" alt="Small Image"></a>
        <a th:href="@{/home/contact}"><img class="small-image" src="/imgs/linkjuju.jpg" id="image4" alt="Small Image"></a>
    </div>
</div>
</body>
</html>