<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주원이 소개</title>
    <link rel="stylesheet" href="/css/stylesIntro.css" th:href="@{/css/stylesIntro.css}">
</head>
<body>
<div class="container">
    <div class="navbar">
        <a href="/home" class="logo">차주원</a>
        <nav>
            <a th:href="@{/home/intro}">소개</a>
            <a th:href="@{/home/growth-log}">성장일지</a>
            <a th:href="@{/home/photo-album}">사진첩</a>
            <a th:href="@{/home/contact}">Contact</a>
        </nav>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>

    <section class="intro-section">
        <div class="intro-image">
            <img src="/imgs/main_3.jpg" alt="주원이 사진">
        </div>
        <div class="intro-text">
            <h2>My Lovely Baby</h2>
            <p><strong>이름:</strong> 차주원 車株沅</p>
            <p><strong>성별:</strong> 남자</p>
            <p><strong>탄생일:</strong> 2023년 9월 9일 14:43</p>
            <p><strong>혈액형:</strong> O형</p>
            <p><strong>MBTI:</strong> 합격 🎉</p>
        </div>
    </section>

    <div class="text-center">
        <a th:href="@{/home/intro}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image1"></a>
        <a th:href="@{/home/growth-log}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image2"></a>
        <a th:href="@{/home/photo-album}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image3"></a>
        <a th:href="@{/home/contact}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image4"></a>
    </div>
</div>
</body>
</html>