<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차주원 - 사진첩</title>
    <link rel="stylesheet" href="/css/stylesPhotoAlbum.css" th:href="@{/css/stylesPhotoAlbum.css}">
</head>
<body>
<div class="container">
    <div class="navbar">
        <a href="/home" class="logo">차주원</a>
        <nav>
            <a th:href="@{/home/intro}">소개</a>
            <a th:href="@{/home/growth-log}">성장일지</a>
            <a th:href="@{/home/photo-album}">사진첩</a>
            <a th:href="@{/home/contact}">Contact</a>
        </nav>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>

    <div class="text-center">
        <h2 class="highlight-text">say cheese~ 📸</h2>
        <p>주원이의 귀여운 순간들을 사진으로 남겼어요!</p>
    </div>

    <div class="photo-grid">
        <img src="/imgs/main_1.jpg" alt="photo1">
        <img src="/imgs/main_2.jpg" alt="photo2">
        <img src="/imgs/main_3.jpg" alt="photo3">
        <img src="/imgs/main_4.jpg" alt="photo4">
        <img src="/imgs/main_5.jpg" alt="photo5">
        <img src="/imgs/main_6.jpg" alt="photo6">
        <img src="/imgs/main_7.jpg" alt="photo7">
        <img src="/imgs/main_8.jpg" alt="photo8">
        <img src="/imgs/main_9.jpg" alt="photo9">
    </div>

    <div class="text-center">
        <a th:href="@{/home/intro}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image1"></a>
        <a th:href="@{/home/growth-log}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image2"></a>
        <a th:href="@{/home/photo-album}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image3"></a>
        <a th:href="@{/home/contact}"><img class="small-image" src="/imgs/linkjuju.jpg" alt="link" id="image4"></a>
    </div>
</div>
</body>
</html>